<% if current_user %>
	<% if !current_user.twitter_credentials.blank? %>
		<table>
			<tr>
				<th>Provider</th> 
				<th> Name</th> 
				<th>Action</th>

			</tr>
			
			<%= render :partial => "twitter_credentials", :collection => current_user.twitter_credentials, :as => :tw %>
		</table>
	<% end %>
	<br/>
	
	<%= link_to "Add keywords", "#", class: "keyword"%>      |
	<%= link_to "Add twitter account", "auth/twitter"%>
	<% if current_user.keywords %>
		<h3>Keywords searched for </h3>
		<%= current_user.keywords %>
		<% last_tweet_id = @tweets.last.attributes["tweet_id"]%>
		<%= link_to "Refresh Tweets", "tweets/get_tweets?last_tweet_id =#{last_tweet_id}", remote: true %>

		<h4>Tweets for the keywords</h4>
		<%= render :partial => "/tweets/tweets", :collection => @tweets , :as => :tweet%>
	<% end %>
	<div class="form">
		<%= form_tag "users/keywords", remote: true do %>		
			<%= text_field_tag "key" %>
			<%= submit_tag "Submit"%>
		<% end %>
	</div>
<%else%>
	<p>Login first to move further!</p>
<% end %>
<script type="text/javascript">
	$(document).ready(function(){
		$(".form").hide();
	});
	$(".keyword").click(function(){
		$(".form").show();
	});
</script>